* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}
/* changed all header selectors to nav replacing div which was the html element for the navigation bar in index.html */
/* changed from a .header class to the header element to match the tag name used in HTML before*/
/* removed unnecessary header nav ul styling and added here as li is a child element */

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}
/* max-height added to the float class and removing the img class for styling. adding it here also controls the max height of the images in the content section */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-block {
    margin-bottom: 32px;
    color: #ffffff;
}
/* all the benefit section divs had the same styling so i add a new class that's shared because multiple elements can share the same class in html*/

.benefit-block h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* all the benefit section h3 elements had the same styling so i add a new class that's shared because multiple elements can share the same class in html*/

.benefit-block img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* all the benefit section image tags had the same styling so i add a new class that's shared because multiple elements can share the same class in html*/

.content-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* all the content section had the same styling so i add a new class that's shared because multiple elements can share the same class in html*/

.content-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* all the content section h2 elements had the same styling so i add a new class that's shared because multiple elements can share the same class in html*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}
/* changed from a footer class as the h4 tag was used in a div element before*/
/* changed from h2 to h4 to match the html footer element */
